;; Example DVTM configuration file
;;
;; Place in ~/.dvtmconf
;;

[main]

; String separating title from window number
separator = " | "

; printf-style format string for full window title:
; 	first %s is title
; 	second %s is separator
; 	third %s is window number
title = "[%s%s#%d]" ; printf format for title string

; Modifier key
; Note, mod=[char]  implies Ctrl+[char].
mod = b


[keys]

c = create
q = quit
j = focusnext
u = focusnextnm
k = focusprev
i = forcusprevnm
. = toggleminimize
s = togglebar
M = togglemouse
